.*

eslintrc.json
babel.config.js
jest.config.js
package-lock.json
prettierrc.json
rollup.config.js

coverage/
node_modules/
src/
**/tests/
**/e2e/
demo/
v1/
docs/
tutorials/
__mocks__/
build/